* {
    box-sizing: border-box;
  }

.entry > img {
    left: 20px;
    top: 481px;
}

.entry > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
}

.entries {
    display: flex;
    flex-direction: row;
    width: 97vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.entry {
    position: relative;
    top: 0;
}

.entry-name {
    font-family: 'Spectral SC', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 133.4%;
    margin-top: 15px;
    max-width: 19rem;
}

.entry:hover::after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 97%;
    border-top: 10px solid black;
    content: '';
    display: block;
}

.inner-border {
    padding: 0 10px;
}


.carousel-arrow-btn {
    background: none;
    border:none;
}

.carousel-arrow-btn:hover {
    opacity: .7;
}

.carousel-arrow-btn:focus {
    outline: none;
}

.BrainhubCarousel {
    padding-top: 25px;
}

.BrainhubCarouselItem {
    align-items: flex-start !important;
    box-sizing: border-box;
}
