* {
    box-sizing: border-box;
  }

.entry > img {
    left: 20px;
    top: 481px;
    width: 300px;
}

.entry > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
}

.entries {
    display: flex;
    flex-direction: row;
    width: 97vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.entry {
    position: relative;
    top: 0;
}

.entry:hover::after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 10px solid black;
    content: '';
    display: block;
}

.inner-border {
    padding: 0 10px;
}



.carousel-arrow {
    color: #c4c4c4;
}

.carousel-arrow:hover {
    color: black;
    cursor: pointer;
}

.BrainhubCarousel {
    margin-top:20px;

}

.BrainhubCarouselItem {
    align-items: flex-start !important;
}