.entry > img {
    border-radius: 10px;
    width: 258.78px;
    height: 206.73px;
    left: 20px;
    top: 481px;
}

.entry > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
}

.entries {
    display: flex;
    flex-direction: row;
    width: 97vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.entry {
    text-align: center;
}

.entry:hover {
    transform: scale(1.1);
  }