#tour-info-form {
    width: 30%;
    margin-left: 20px;
}

.stop {
    float: left;
    width: 200px;
    height: 200px;
    margin: .5em;
}

#view-stop-box-list {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    margin: 20px;
}
