

#tour-info-form {
    width: 40%;
}


#tour-date {
    display: inline;
}

.tour-info-display {
    margin-top: 64px;
}

.card-image-top {
    width: 100%;

}

.card-body {
    height: 40px;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding-bottom: 5px;
}

.card-body > .card-text {
   width: 100%;
   height: 40px;
}


#tour-page {
    margin: 20px 100px;
}



/* editmode form style */

.form-label {
    text-transform: uppercase;
    color: #1E2832;
    font-size: 20px;
}


#tour-info-form {
    margin-top: 15px;
}

.form-control {
    border-radius: 0;
    border: 1.5px solid #1E2832;

}



.remove {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 100;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white !important;
    background: #666E77 !important;
    padding: 0 3px;
}

.remove:hover{
    background-color: #ba5759;
    transform: scale(1.1);
}

.remove:focus{
    outline:none;
}

.edit-card-container {
    position: relative;
}

#swap-right {
    position: absolute;
    bottom: 20px;
    left: 170px;
    z-index: 100;
    background-image:url("../../images/right-arrow.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#swap-left {
    position: absolute;
    bottom: 20px;
    left: 120px;
    z-index: 100;
    background-image:url("../../images/left-arrow.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.swap-button {
    width: 35px;
    height: 35px;
    background: white;
    border: 1px solid #666e77;
    border-radius: 0;
}



.stops-container-view {
    display: grid;
    grid-gap: 30px;
    grid-row-gap: 64px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: auto;
    margin: 30px 0;
}




.stop-card {
    margin: 0;
    border: 1px solid black;
}


ul, li {
    list-style-type: none;
}

.sortable-stop-card {
    float: left;
    margin: .2em;
    position: relative;
    display: flex;
    justify-content: space-between;
}


.stop {
    float: left;
    margin: .2em;
    position: "absolute";
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}


ul > .sortable-row {
    width: 90%;
    float: center;
}

.sortable-row {
    display:flex;
    flex-wrap:wrap;
    float: left;
    position: absolute;
    margin: 0 auto !important;
    padding: 0 auto;
}

* {
    box-sizing: border-box;
}


.fa-chevron-down {
    color: #c7c7c7;
}

.stop-thumbnail:hover {
    opacity: .3;
    cursor: pointer;
}

.stop-name {
    font-family: 'Spectral SC', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 133.4%;
    margin-top: 15px;
}


/* the collasible title */
.MuiAccordionSummary-content {
    margin: 0 !important;
}

.MuiAccordionDetails-root {
    padding: 0 !important;
}

#tour-name {
    display: inline;
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    font-size: 40px;
}





/* button styles new */

.button-container {
    position: absolute;
    right: 0;
}

.tour-page-button {
    border-radius: 0px;
    border: 1px solid transparent;
    font-size: 1em;
    height:35px;
    background: none;
    color: #666E77;
}

.tour-page-button:hover {
    background: none;
    color: black;
    border-radius: 0;
    border: 1px solid black;
}

.MuiTypography-body1 {
    display: inline-block;
    font-family: 'Work Sans', sans-serif !important;
    margin-left: 6px !important;
}

#delete-stop-button:hover {
    background: none;
    color: #C90000;
    border-radius: 0;
    border: 1px solid #C90000;
}

#delete-stop-button:hover .delete-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/delete-hover2.png");
}

.tour-page-button:focus {
    background: none;
    color: black;
    border-radius: 0;
    border: 1px solid black;
}


.top-button-container {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #666E77;
    margin-bottom: 30px;
}

#update-stop-button:hover {
    background: none;
    color: #0FBF00;
    border-radius: 0;
    border: 1px solid #0FBF00;
}


.tour-page-branding-container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
