@import "~react-image-gallery/styles/css/image-gallery.css";

.entry-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 100px;
    overflow: auto;
    background-color: #000;
    color:white;
}

.entry-container {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}

.close-icon {
    float: right;
    margin-right: 10%;
    color: white;
    margin-top: 3%;
}

.MuiSvgIcon-root {
    font-size:  2.5em !important
}

.close-icon:hover {
    color: #c7c7c7;
    cursor: pointer;
}

.close-icon:focus {
    outline: none;
}

.Collapsible {
    font-family: Roboto;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.Collapsible__trigger {
    font-size: 2em;
}

.Collapsible__trigger:hover {
    opacity: .8;
}

#image-gallery {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.video-wrapper {
  position: relative;
  padding: 33.35% 0; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}