.presentation-close-icon {
    position: absolute;
    float: right;
    top: 1rem;
    right: 0;
    z-index: -1;
}

.presentation-close-icon:hover {
    cursor: pointer;
    opacity: .7;
}

#presentation-logo {
    position:absolute;
    left: 1rem;
    top: 1rem;
}


/* gallery styling */
.image-gallery-container {
    padding: 30px;
    padding-bottom: 10px;
}

.image-gallery-description {
    font-weight: 600;
    padding: 15px 30px !important;
    font-size: 18px;
}

.image-gallery-thumbnails {
    margin-top: 20px;
    border-top: 1px solid black;
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.image-gallery-thumbnail.active {
    border: 10px solid black !important
}

/* gallery custom arrow */

.image-gallery-custom-left-nav {
    position: absolute;
    top: 43%;
    left: 0;
}

.image-gallery-custom-right-nav {
    position: absolute;
    top: 43%;
    right: 0;
}


.image-gallery-custom-left-nav:hover {
    cursor: pointer;
    opacity: .7;
}

.image-gallery-custom-right-nav:hover {
    cursor: pointer;
    opacity: .7;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 220px) !important;
    /* max-width: 80%; */
}

.image-gallery-description {
    left: 10% !important;
}

.presentation-stop-name {
    font-family: Spectral SC;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    bottom: 117px;
    left: 50%;
    transform: translateX(-50%);
}

.info-btn {
    background: none;
    border: none;
    position: absolute;
    right: 30px;
    bottom: 60px;
}

.info-btn:focus {
    outline: none;
}


/* video */
/* .video-wrapper {
    object-fit: contain !important;
    object-position: center;
    padding: 21% 30% !important;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 50% !important;
    transform: translateX(-50%);
    height: 100%;
    width: 80% !important;
} */

.video-wrapper {
    height: 100% !important;
    padding: 0 !important;
}

.video-wrapper video {
    /* position: absolute; */
    /* top: 0;
    left: 50% !important;
    transform: translateX(-50%);
    /* height: 100%; */
    width: 80% !important;
    height: 750px;
}

.video-wrapper video:focus {
    outline: none;
}

.audio-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}