.public-playlist {
    margin: 60px;
}

.public-playlist > h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

#view-all-button {
    float: right;
    font-size: 18px;
    font-weight: 400;
    
}