.public-playlist {
    margin: 60px 80px 20px 80px;
}

.title-container {
    border-bottom: 1px solid #666E77;
    width: 100%;
    justify-content: space-between;
    display: flex;

}

.tour-title {
    vertical-align: bottom;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
}

.tour-title:hover {
    cursor: pointer;
    color: #666E77;
}


/* dropdown menu */
#view-all-button {
    float: right;
    font-size: 18px;
    font-weight: 400;
    color: black;
    box-sizing: border-box;
    margin: -3px;
    
}

#view-all-button:hover {
    text-decoration: none;
    font-weight: 700;
    border-bottom: 3px solid black;
    margin: -3px;
    
}


#dropdown-menu-align-right {
    border: 1px solid transparent;
    color: #666E77;
    font-size: 45px;
    line-height: 40px;
}

#dropdown-menu-align-right:hover {
    border: 1px solid #666E77;
    color: black;
    background: none;
}

#dropdown-menu-align-right:focus {
    border: 1px solid #666E77;
    color: #666E77;
    background: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    border: 1px solid #000000;
    color: black;
    background: none !important;
    box-shadow: none;
}

.dropdown-menu.show {
    border-radius: 0;
    border: 1px solid #666E77;
    padding: 0;
}

.dropdown-item {
    padding: .55rem 1.5rem;
    border-bottom: 1px solid #666E77;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.15);
    color: black
}

.delete-tour:hover {
    color:  #C90000;
}

#delete-tour-confirm:hover {
    background: #C90000;
    border: 1px solid #C90000;
}

/* icon */

.copy-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/copy.png");
    margin-right: 5px;
}

.edit-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/edit.png");
    margin-right: 5px;
}

.delete-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/delete.png");
    margin-right: 5px;
}

.dropdown-item:hover .copy-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/copy-hover.png");
    margin-right: 5px;
}

.dropdown-item:hover .edit-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/edit-hover.png");
    margin-right: 5px;
}

.dropdown-item:hover .delete-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/delete-hover2.png");
    margin-right: 5px;
}

.delete-tour:hover .delete-tour-icon-img {
    display: inline-block;
    background-size: cover;
    background-image: url("../../images/delete-hover2.png");
    margin-right: 5px;
}

/* playlist status */
.complete-status {
    font-size: 16px;
    width: 130px;
    color: white;
    height: 32px;
    display: inline-block;
    background: black;
    text-align: center;
    line-height: 32px;
}

.incomplete-status {
    font-size: 16px;
    width: 130px;
    color: white;
    height: 32px;
    display: inline-block;
    background: #C90000;
    text-align: center;
    line-height: 32px;
}

.complete-details {
    margin-left: 8px;
}

.incomplete-details {
    color: #C90000;
    margin-left: 8px;
}

.tour-status {
    font-size: 16px;
}

