#copy-button {
    background: none;
    color: #000;
    right: 0;
    border-radius: 0;
    border: 1px solid black;
}

#copy-button:hover {
    background: #68989A;
    color: white;
    transition: .1s;
}