#create-button {
    background: none;
    color: #000;
    display: block;
    margin-right: 60px;
    padding: 2px 20px;
    position: absolute;
    right: 0;
    top: 560px;
    border-radius: 0;
    border: 1px solid black;
}

#create-button:hover {
    background: #68989A;
    color: white;
    transition: .1s;
}


.create-new-tour-container{
    width: 100%;
    background: transparent;
}

.btn-primary {
    background: #000;
    color: #fff;