body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Work Sans', sans-serif;
}
.navbar {
    background-color:none;
    height: 64px;
    margin: 15px 60px;
    padding: 0;
}

.nav-item {
    font-family: 'Cantarell', sans-serif;
    font-size: 24px;
    letter-spacing: 0.055em;
    color: black !important;
    margin-left: 20px;
}

.nav-link {
    float: right;
    color: black;
    padding: 0;
    border-bottom: 3px solid transparent;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.navbar-nav > li > a {
    padding: 0;
    margin:0;
    vertical-align: bottom;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}


.navbar-expand-md .navbar-collapse {
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-left {
    position:absolute;
    bottom: 0;
}
/* .jumbotron {
    height: 280px;
    color: white;
    background: rgba(0,0,0,0.6);
	background-image: url(https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/s3/field/field_image_main/b_AllSoulsquad.jpg?itok=tTcH-5ix);
	background-blend-mode: darken;
	background-size: cover;
    padding-bottom: 20px;
    margin: 0 60px;
} */

.jumbotron {
    height: 450px;
    color: white;
    background-image: url(https://mediad.publicbroadcasting.net/p/wesa/files/styles/x_large/public/201804/clayton_1-300_cmyk.jpg);
    background-size: 100%;
    background-position-y: center;
    padding-bottom: 20px;
    margin:0 60px;
    margin-bottom: 50px;
}

.display-4 {
    text-align: center;
    font-size: 62px;
    line-height: 88px;
}
* {
    box-sizing: border-box;
  }

.entry > img {
    left: 20px;
    top: 481px;
    width: 300px;
}

.entry > p {
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
}

.entries {
    display: flex;
    flex-direction: row;
    width: 97vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.entry {
    position: relative;
    border-top: 10px solid transparent;
    top: 0;
}

.entry:hover {
    border-top: 10px solid black;
  }

.carousel-arrow {
    color: #c4c4c4;
}

.carousel-arrow:hover {
    color: black;
    cursor: pointer;
}

.BrainhubCarousel {
    margin-top:20px;

}

.BrainhubCarouselItem {
    align-items: flex-start !important;
}
.public-playlist {
    margin: 60px;
}

.public-playlist > h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

#view-all-button {
    float: right;
    font-size: 18px;
    font-weight: 400;
    
}
#create-button {
    background: none;
    color: #000;
    display: block;
    margin-right: 60px;
    padding: 2px 20px;
    position: absolute;
    right: 0;
    top: 560px;
    border-radius: 0;
    border: 1px solid black;
}

#create-button:hover {
    background: #68989A;
    color: white;
    transition: .1s;
}


.create-new-tour-container{
    width: 100%;
    background: transparent;
}

.btn-primary {
    background: #000;
    color: #fff;
}
.entry-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 100px;
    overflow: auto;
    background-color: #000;
    color:white;
}

.entry-container {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;

}

.close-icon {
    float: right;
    margin-right: 10%;
    color: white;
    margin-top: 3%;
}

.MuiSvgIcon-root {
    font-size:  2.5em !important
}

.close-icon:hover {
    color: #c7c7c7;
    cursor: pointer;
}

.close-icon:focus {
    outline: none;
}

.Collapsible {
    font-family: Roboto;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.Collapsible__trigger {
    font-size: 2em;
}

.Collapsible__trigger:hover {
    opacity: .8;
}

#image-gallery {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.video-wrapper {
  position: relative;
  padding: 33.35% 0; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Card */
.card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #fff;
  margin: 20px 10px;
  cursor: pointer; }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* Selectable */
.card .selectable {
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 4px solid transparent; }
  .card .selectable .check {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 20px;
    height: 20px; }
    .card .selectable .check:before {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      content: '';
      border: 20px solid;
      border-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
    .card .selectable .check .checkmark {
      display: block;
      font: 20px sans-serif;
      line-height: 20px;
      text-align: center;
      color: transparent; }
  .card .selectable.selected {
    border-color: #000; }
    .card .selectable.selected .check:before {
      border-color: #000 #000 rgba(0, 0, 255, 0) rgba(255, 0, 0, 0); }
    .card .selectable.selected .check .checkmark {
      color: #fff; }

.content {
  padding: 24px; }
  .content .title, .content .description {
    margin: 0;
    padding: 4px; }

.column {
  float: left;
  width: 100%; }
  .column > .title {
    text-align: center; }

button.card {
  cursor: pointer;
  width: 180px;
  margin: 20px auto;
  text-align: center;
  padding: 16px;
  border-color: transparent;
  border-radius: 10px;
  background: #000 !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none; }
  button.card:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }



#tour-info-form {
    width: 30%;
}

#tour-name {
    display: inline;
    font-size: 2em;
    margin-right: 15px;
}

#tour-date {
    display: inline;
}


.cards {
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        flex-flow: row wrap;
    margin: auto;
}

.card-image-top {
    width: 100%;

}

.card-body {
    height: 40px;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding-bottom: 5px;
}

.card-body > .card-text {
   width: 100%;
   height: 40px;
}


#tour-page {
    margin: 20px 50px;
}

/* button styles */
#delete-stop-button {
    float: right;
}

#delete-stop-button:hover {
    background: none;
    color: #ba5759;
}

#update-stop-button {
    float:right;
}

#update-stop-button:hover {
    background: none;
    color: #404040;
}

#update-stop-button:focus {
    border: none;
    box-shadow: none;
    background: none;
    color: #404040;
}

.btn-primary.focus, .btn-primary:focus {
    background: none;
}

.tour-page-button {
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height:35px;
    background: none;
    color: #c7c7c7;
}


#add-stop-button:hover{
    background: none;
    color: black;
}

#add-stop-button:focus {
    border: none;
    box-shadow: none;
}

.tour-page-button:focus {
    border: none;
}

.delete-icon {
    color:black;
}


/* editmode form style */
.form-label{
    font-size: .9em;
    color: #c7c7c7;
    font-weight: bold;
    margin-bottom: 0;
}

.info-form {
    border: none;
    outline: none;
    border-bottom: 2px solid #c7c7c7;
    border-radius: 0;
    font-size: 1.5em;
    margin: 0;
}

.info-form:focus {
    outline-width: 0px;
    outline:0; /* I have also tried outline:none */
    border-color: black;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#tour-info-form {
    margin-top: 15px;
}




.remove {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 100;
    font-family: Roboto;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
}

.remove:hover{
    background-color: #ba5759;
    transform: scale(1.1);
}

.remove:focus{
    outline:none;
}

#swap-right {
    position: absolute;
    bottom: 80px;
    left: 50px;
    z-index: 100;;
}

#swap-left {
    position: absolute;
    bottom: 80px;
    left: 20px;
    z-index: 100;;
}





.stop-card {
    margin: 0;
    border: 1px solid black;
}


ul, li {
    list-style-type: none;
}

.sortable-stop-card {
    float: left;
    margin: .2em;
    position: relative;
    display: flex;
    justify-content: space-between;
}


.stop {
    float: left;
    margin: .2em;
    position: "absolute";
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}


ul > .sortable-row {
    width: 90%;
    float: center;
}

.sortable-row {
    display:flex;
    flex-wrap:wrap;
    float: left;
    position: absolute;
    margin: 0 auto !important;
    padding: 0 auto;
}


/* .edit-stops {
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 3px;
    display:block;
    white-space: nowrap;

}

.edit-stop {
    position: relative;
    display: flex;
    justify-content: center;
} */

* {
    box-sizing: border-box;
}


/*# sourceMappingURL=main.chunk.css.map*/